<!doctype html>
<html>
  <head>
    <title>MakingFun/Goko Pro Rating Predictions</title>
    <meta charset="utf-8" />

    <script src="/static/jquery-1.9.1.js"></script>
    <!--link rel="stylesheet"
     href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" /-->
	  <link rel="stylesheet" href="/static/themes/base/jquery.ui.all.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <script
    src="/static/Promise.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

    <script src="/static/doget.js"></script>
    <script src="/static/assess.js"></script>
    <style>
      .odds { text-align: right }
    </style>
 </head>

  <body ng-app="ratingApp" ng-controller="RatingCtrl">
    <h2>MakingFun/Goko Pro Rating Predictor</h2>

    <table>
      <tr>
        <td>&nbsp;</td>
        <td/>
        <td colspan='2' ng-show='p1.mu || p2.mu'>
          Current Rating:
        </td>
      </tr>
      <tr>
        <td>Player 1:</td>
        <td><input id="p1name" ng-model="p1.name"></td>
        <td>{{p1.displayed}}</td>
        <td ng-show='p1.mu'>({{p1.mu}} &plusmn; {{p1.sigma}})</td>
      </tr>
      <tr>
        <td>Player 2:</td>
        <td><input id="p2name" ng-model="p2.name"></td>
        <td>{{p2.displayed}}</td>
        <td ng-show='p2.mu'>({{p2.mu}} &plusmn; {{p2.sigma}})</td>
      </tr>
    </table>

    <h3 ng-show='predictions'>Predictions:</h3>
    <div ng-show='predictions'> 
      <table cellpadding='5'>
        <tr>
          <td></td>
          <td>&Delta;P1</td>
          <td>&Delta;P2</td>
          <td ng-show='probs' class='odds'>Odds (Goko)</td>
          <td ng-show='probs' class='odds'>Odds (Iso)</td>
        </tr>
        <tr>
          <td>Win</td>
          <td>({{predictions['P1 Wins'].r_a.delta >= 0 ? '+' : ''}}{{predictions['P1 Wins'].r_a.delta}})</td>
          <td>({{predictions['P1 Wins'].r_b.delta >= 0 ? '+' : ''}}{{predictions['P1 Wins'].r_b.delta}})</td>
          <td ng-show='probs' class='odds'>{{100 * probs.goko.p1win | number:2}}&#37;</td>
          <td ng-show='probs' class='odds'>{{100 * probs.isotropish.p1win | number:2}}&#37;</td>
        </tr>
        <tr>
          <td>Draw</td>
          <td>({{predictions['Draw'].r_a.delta >= 0 ? '+' : ''}}{{predictions['Draw'].r_a.delta}})</td>
          <td>({{predictions['Draw'].r_b.delta >= 0 ? '+' : ''}}{{predictions['Draw'].r_b.delta}})</td>
          <td ng-show='probs' class='odds'>{{100 * probs.goko.draw | number:2}}&#37;</td>
          <td ng-show='probs' class='odds'>{{100 * probs.isotropish.draw | number:2}}&#37;</td>
        </tr>
        <tr>
          <td>Loss</td>
          <td>({{predictions['P1 Loses'].r_a.delta >= 0 ? '+' : ''}}{{predictions['P1 Loses'].r_a.delta}})</td>
          <td>({{predictions['P1 Loses'].r_b.delta >= 0 ? '+' : ''}}{{predictions['P1 Loses'].r_b.delta}})</td>
          <td ng-show='probs' class='odds'>{{100 * probs.goko.p1loss | number:2}}&#37;</td>
          <td ng-show='probs' class='odds'>{{100 * probs.isotropish.p1loss | number:2}}&#37;</td>
        </tr>
      </table>
    </div>

    <h3 ng-show='predictions'>Detail:</h3>
    <div ng-repeat='(result, preds) in predictions' ng-show='predictions'> 
      <table cellpadding='5'>
        <tr>
          <td><b>{{result}}</b></td>
          <td>&Delta; displayed</td>
          <td>Actual New Rating</td>
        </tr>
        <tr>
          <td>Player 1:</td>
          <td>({{preds.r_a.delta >= 0 ? '+' : '' }}{{preds.r_a.delta}})</td>
          <td>{{preds.r_a.displayed}} ({{preds.r_a.mu | number:0 }} &plusmn;
            {{preds.r_a.sigma | number:0}})</td>
        </tr>
        <tr>
          <td>Player 2:</td>
          <td>({{preds.r_b.delta >= 0 ? '+' : '' }}{{preds.r_b.delta}})</td>
          <td>{{preds.r_b.displayed}} ({{preds.r_b.mu | number:0}} &plusmn;
            {{preds.r_b.sigma | number:0}})</td>
        </tr>
      </table>
      <br/>
    </div>
  </body>
</html>
