# Compiled Python code
__pycache__
*.pyc

# log files
*.log*

# Process ID files
*.pid

# VIM swap files
.*.swp

nohup.out
updategamecount.sh
web/static/extension.html
web/static/extensions/
web/static/extsrc
web/static/dominiate
web/static/gokosalvager
web/static/avatars
analysis/
