<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="/static/jquery-1.9.1.js"></script>
    </head>
    <body>

        <a href='/logsearch'>Log Search</a>
        <a href='/kingdomvisualize'>Kingom Visualizer</a>
        <a href='/leaderboard/'>Leaderboard</a>
        <a href='/static/dominiate/play.html'>Dominiate Simulator</a>
        <br>

        <h2>Kingdom Visualizer</h2>
        <form action="/kingdom" method="get">
            Log url:
            <input type="text" name="logurl" size=90 value={{logurl}}><br>
            Image Width:
            <input type="width" name="width" size=3 value={{width}}><br>
            <button type="submit" name="submit" id="submitter" value="Search">Build</button>
        </form>

        <br>

        {% if err %}
        <p>Error: couldn't parse log url</p>
        {% end %}

        {% if htmlcode %}
            {% raw htmlcode %}
            <br>
        {% end %}

        {% if bbcode %}
        BBCode:<br>
        <textarea rows="13" cols="80" font>
            {{bbcode}}
        </textarea>
        <br>
        {% end %}

        {% if htmlcode %}
        <br>
        HTML:<br>
        <textarea rows="13" cols="80" font>
            {{htmlcode}}
        </textarea> 
        <br>
        {% end %}
    </body>
</html>
