<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html";charset="UTF-8">
	  <link rel="stylesheet" href="/static/themes/base/jquery.ui.all.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/jquery-1.9.1.js"></script>
    <script src="/static/ui/jquery-ui.js"></script>
	  <script src="/static/ui/jquery.ui.core.js"></script>
	  <script src="/static/ui/jquery.ui.widget.js"></script>
	  <script src="/static/ui/jquery.ui.datepicker.js"></script>
    <script>
      $(document).ready(function(){
        // Restore the previous search paramaters. This is so hideous.
        // TODO: find a way, way, way better solution. Maybe just modify the
        //       DOM instead of reloading the page?
        {% for p in search_params %}
        {% set v = search_params[p] %}
        $("input[name='{{p}}']").val("{{v}}");
        $('[name="{{p}}"] option').filter(function() { 
            return ($(this).val() == '{{v}}');
        }).prop('selected', true);
        {% end %}
        //{% if search_params['casesensitive'] == 'true' %}
        //$('[name="casesensitive"]').attr('checked',true);
        //{% end %}

        $(":submit").attr('disabled',false);
        {% if search_params['offset'] == '0' %}
          $("#newer").attr('disabled',true)
        {% end %}
        {% if len(games) < int(search_params['limit']) %}
          $("#older").attr('disabled',true)
        {% end %}

        $("#clear").click(function(evt){
          window.open("logsearch","_self");
        });

		$(".datepicker").datepicker({
			showOtherMonths: true,
			selectOtherMonths: true,
            changeMonth: true,
            changeYear: true
		});

        $(":submit").click(function(evt){
          var offset = parseInt($("#offset").val())
          var limit = parseInt($("#limit").val())
          switch(this.value) {
            case 'Newer':
              offset = Math.max(offset - limit, 0);
              break;
            case 'Older':
              offset = offset + {{len(games)}};
              break;
            default:
              offset = 0
              break;
          }
          $("#offset").val(offset.toString());
          $("#submitted").val('true');
          $(":submit").attr('disabled',true);
        });
      });
    </script>
  </head>

  <body>

    <a href='/logsearch'>Log Search</a>
    <a href='/kingdomvisualize'>Kingom Visualizer</a>
    <a href='/leaderboard/'>Leaderboard</a>
    <a href='/static/automatch_testframes.html'>Automatch Tester</a>
    <br>

    <h2>Goko Log Search</h2>

    <form id="searchform" action="/logsearch" method="get">
      <table>
        <tr height="5">
          <td width="10"></td>
          <td width="100"></td>
          <td width="120"></td>
          <td width="10"></td>
          <td width="120"></td>
          <td width="70"></td>
          <td width="70"></td>
        </tr>

        <tr>
          <td colspan="2">Player 1:</td>
          <td colspan="1"><input type="text" name="p1name" style="width: 99%"</td>
          <td></td>
          <td colspan="1">
            <select name="p1score" style="width: 99%">
              <option value="any">All Results</option>
              <option value="1">Win</option>
              <option value="0">Draw</option>
              <option value="-1">Loss</option>
            </select>
          </td>
        </tr>

        <tr>
          <td colspan="2">Player 2:</td>
          <td colspan="1"><input type="text" id="p2name" name="p2name" style="width: 99%"></td>
          <td></td>
          <!--td colspan="2">
            <input type="checkbox" name="casesensitive">Case Sensitive</input><br>
          </td-->
        </tr>

        <tr>
          <td colspan="2">Date Range:</td>
          <td colspan="1">
            <input class="datepicker" type="text" name="startdate" style="width: 99%">
          </td>
          <td style="text-align: center">&#8211;</td>
          <td colspan="1">
            <input class="datepicker" type="text" name="enddate" style="width: 99%">
          </td>
        </tr>

        <tr>
          <td colspan="2">In Kingdom:</td>
          <td colspan="3">
            <input type="text" name="supply" style="width: 99%">
          </td>
        </tr>

        <tr>
          <td colspan="2">Not in Kingdom:</td>
          <td colspan="3">
            <input type="text" name="nonsupply" style="width: 99%">
          </td>
          <td><input type="submit" value="Search" style="width: 99%"/></td>
          <td><input id="clear" type="button" value="Clear" style="width: 99%"/></td>
         </tr>

         <tr>
           <th colspan="3"><div style="text-align: left">Game:</div></th>
           <th colspan="4"><div style="text-align: left">Players:</div></th>
         </tr>

         <tr>
           <td></td>
           <td>Rating:</td>
           <td>
             <span title="Excludes game before May 13">
             <select name="rating" style="width: 99%">
               <option value="unrated">Unrated</option>
               <option value="casual">Casual</option>
               <option value="pro">Pro</option>
               <option value="adventure">Adventures</option>
               <option value="unknown">Unknown (Pre-May 13)</option>
               <option value="pro+">Pro/Unknown</option>
               <option value="any">Any</option>
             </select>
             </span>
           </td>
           <td></td>
           <td>Num. Players:</td>
           <td>
             <select name="pcount" style="width: 99%">
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
               <option value="any">Any</option>
             </select>
           </td>
         </tr>

         <tr>
           <td></td>
           <td>Colonies?</td>
           <td>
             <select name="colony" style="width: 99%">
               <option value="any">Either</option>
               <option value="false">Provinces</option>
               <option value="true">Colonies</option>
             </select>
           </td>
           <td></td>
           <td>Bots?</td>
           <td>
             <select name="bot" style="width: 99%">
               <option value="any">Allow</option>
               <option value="false">No</option>
               <option value="true">Require</option>
             </select>
           </td>
         </tr>

         <tr>
           <td></td>
           <td>Shelters?</td>
           <td>
             <select name="shelters" style="width: 99%">
               <option value="any">Either</option>
               <option value="false">Estates</option>
               <option value="true">Shelters</option>
             </select>
           </td>
           <td></td>
           <td>Guests?</td>
           <td>
             <select name="guest" style="width: 99%">
               <option value="any">Allow</option>
               <option value="false">No</option>
               <option value="true">Require</option>
             </select>
           </td>
         </tr>

         <tr>
           <td></td>
           <td>Num. Turns:</td>
           <td>
             <span title="Minimum number of turns">
               <input name="minturns" style="width: 37%">
             </span>
             &#8211;
             <span title="Maximum number of turns">
               <input name="maxturns" style="width: 37%">
             </span>
           </td>
           <td></td>
           <td><span title="Find games where someone quit?">Quits?</span></td>
           <td>
             <select name="quit" style="width: 99%">
               <option value="any">Allow</option>
               <option value="false">No</option>
               <option value="true">Require</option>
             </select>
           </td>
        </tr>
 
         <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td><span title="Find games where someone resigned?">Resignations?</span></td>
           <td>
             <select name="resign" style="width: 99%">
               <option value="any">Allow</option>
               <option value="false">No</option>
               <option value="true">Require</option>
             </select>
           </td>
        </tr>
      </table>

      <hr>

      {% if games %}
      Results per page:
      <input id="limit" type="text" name="limit" style="width: 5ex">
      <input type="submit" value="Show">
      <input id="newer" type="submit" value="Newer">
      <input id="older" type="submit" value="Older">
      <hr>
      {% end %}

      <input id="submitted" type="hidden" name="submitted" value="false")>
      <input id="offset" type="hidden" name="offset" value="false")>

    </form>

    {% if error_text %}
    {{error_text}}
    {% end %}

    {% if games %}
    {% for g in games %}
    {% set timestr = datetime.datetime.strftime(g.time,'%Y/%m/%d %H:%M') %}
    {% set dirstr = datetime.datetime.strftime(g.time,'%Y%m%d') %}
    {% set logurl = "http://dominionlogs.goko.com/%s/%s" % (dirstr,g.logfile) %}
    {% set formattedurl = "http://dom.retrobox.eu/?/%s/%s" % (dirstr,g.logfile) %}

    {{timestr}}
    <table border="0" cellpadding="2">
      <tr>
        <td><u>Player:</u></td>
        <td><u>Rank:</u></td>
        <td><u>VPs:</u></td>
        <td><u>Turns:</u></td>
        <td><u>Quit?</u></td>
      </tr>
      {% for pname in g.presults %}
      {% set p = g.presults[pname] %}
      {% set rankstr = ('','1st','2nd','3rd','4th','5th','6th')[p.rank] %}
      <tr>
        <td>{{p.pname}}</td>
        <td class="right">{{rankstr}}</td>
        <td class="right">{{p.vps}}</td>
        <td class="right">{{p.turns}}</td>
        <td class="right">{{'Quit' if p.quit else ''}}</td>
      </tr>
      {% end %}
    </table>

    {% if g.colony %}Colonies,{% else %}Provinces / {% end %}
    {% if g.shelters %}Shelters{% else %}Estates{% end %}
     - 
    {% for s in g.supply %}
    {% if s=='JackOfAllTrades' %}Jack of all Trades{% else %}{{s}}{% end %}{% if s != g.supply[-1] %}, {% end %} 
    {% end %}
    <br>

    <a href="{{ logurl }}" target="_blank">Log</a>
    <a href="{{ formattedurl }}" target="_blank">Viewer</a>
    <a href="./kingdomvisualize?logurl={{logurl}}&width=100&submit=Search" target="_blank">Kingdom</a>
    <br><br>

    {% end %}
    {% end %}

  </body>
</html>
